# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
OurStudents/bin/Release/DB/ItalianoDB.xml
Model/bin/Release/Model.pdb
Model/obj/Release/Model.csproj.FileListAbsolute.txt
Model/obj/Release/Model.csproj.GenerateResource.Cache
Model/obj/Release/Model.dll
*.cache
Model/obj/Release/OurStudents.LoadingPanel.resources
OurStudents/bin/Release/OurStudents.exe.manifest
OurStudents/bin/Release/OurStudents.exe.manifest
OurStudents/obj/Release/OurStudents.application
OurStudents/obj/Release/OurStudents.exe.manifest
OurStudents/obj/Release/OurStudents.PersonsEditGridForm.resources
